/* *** sorttable by rern ***
	fixed header, scrollable body, screen rotate responsive
*/
.sorttable {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	border-collapse: collapse;
	border-style: none;
	border-width: 0;
	border-spacing: 0;
	padding: 0;
	white-space: nowrap;
}
.sorttable thead {
	height: 40px;
	line-height: 40px;
	background: #EFFBF8;
	border-bottom: 1px solid #eee;
	cursor: pointer;
	user-select: none;
}
.sorttable thead td:empty {
	pointer-events: none;
}
.sorttable tbody {
	overflow: auto;
	-webkit-overflow-scrolling: touch; /* ios momentum scroll */
}
.sorttable td {
	box-sizing: border-box;
	margin: 0;
	padding: 0 0 0 5px;
	height: 30px;
}
.asc:after {
	content: '\200a\25b2';
	color: green;
}
.desc:after {
	content: '\200a\25bc';
	color: crimson;
}
.zebra {
	background: #f0f0f0 !important;
}

