/* *** sorttable by rern ***

/* fixed header, scrollable body, screen rotate responsive */

/* custom >> */
.sorttable thead, #tblth2 {
	line-height: 40px;
	background: #effbf8;
	border-bottom: 1px solid #eee;
}
.sorttable tbody {
	background: #fff;
}
.sorttable tr {
	height: 30px;
}
.sorttable td {
	padding: 0 0 0 5px;
}
/* << custom */

.sorttable {
	border-collapse: collapse;
	border-style: none;
	border-width: 0;
	border-spacing: 0;
	padding: 0;
	white-space: nowrap;
}
#tblth2 {
	position: fixed;
	width: 100%;
	z-index: 1 !important; /* fix: overruled by scroll */
/*	-webkit-transform: translate3d(0,0,0); *//* fix 'z-index' on iOS */
}
#tblth2 a {
	display: inline-block;
}
.sorttable thead, #tblth2 {
	cursor: pointer;
	user-select: none;
}
.sorttable thead {
	visibility: hidden;
}
.sorttable thead td:empty {
	pointer-events: none;
}
.sorttable tbody {
	overflow: auto;
	-webkit-overflow-scrolling: touch; /* ios momentum scroll */
}
.sorttable tbody tr:nth-child(even) { /* zebra stripe */
	background: #f0f0f0;
}
.sorttable td {
	/* 3 ellipsis lines with 'td' width: / max-width: */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sorttable .pad {
	width: 1000px; /* oversize forces centering table */
}
.asc:after {
	content: '\200a\25b2';
	color: green;
}
.desc:after {
	content: '\200a\25bc';
	color: crimson;
}
